@{
    ViewData["Title"]="Agregar Consola";
}
<form method="post" action='@Url.Action("GuardarConsola","Home")' enctype="multipart/form-data">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="FechaSalida">Fecha de salida</label>
        <input type="Date" class="form-control" name="FechaSalida" id="FechaSalida" placeholder="Fecha de salida" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="Empresa">Empresa</label>
        <input type="text" class="form-control" name="Empresa" id="Empresa" placeholder="Empresa" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="Informacion">Informacion</label>
        <input type="text" class="form-control" name="Informacion" id="Informacion" placeholder="Informacion" autocomplete="off">
    </div>
    Portada</br>
    <input type="File" name="myFile"></br></br>
    <button type="submit"class="btn btn-primary">Agregar</button>
</form>
