@{
    ViewData["Title"]="Agregar Juego";
}
<form method="post" action='@Url.Action("GuardarJuego","Home")' enctype="multipart/form-data">
   <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre" autocomplete="off">
    </div>
    <p>
        <label for="Consola">Consola</label></br>
        <select name="idConsola" id="Consola" class="form-control">
            @{
                foreach(Consola objConsola in ViewBag.Consolas)
                {
                    <option value=@objConsola.idConsola>@objConsola.Nombre</option>
                    <h1>aa</h1>
                }
            }
        </select>
    </p>
    <div class="form-group">
        <label for="FechaSalida">Fecha de salida</label>
        <input type="Date" class="form-control" name="FechaSalida" id="FechaSalida" placeholder="Fecha de salida" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="Desarrolladora">Desarrolladora</label>
        <input type="text" class="form-control" name="Desarrolladora" id="Desarrolladora" placeholder="Desarrolladora" autocomplete="off">
    </div>
   <div class="form-group">
        <label for="Informacion">Informacion</label>
        <input type="text" class="form-control" name="Informacion" id="Informacion" placeholder="Informacion" autocomplete="off">
    </div>
    Portada</br>
    <input type="File" name="myFile"></br></br>
    <button type="submit"class="btn btn-primary">Agregar</button>
</form>