@{
    ViewData["Title"] = "DetalleJuego";
}
<div class="text-center">
    <img src="/FotoJuego/@ViewBag.DetalleJuego.Portada" alt="@ViewBag.DetalleJuego.Nombre" width="340" height="340">
    <h1>@ViewBag.DetalleJuego.Nombre</h1>
</div>
    <div class="text-left" style="color: #FFFFFF;">
        <h4>@ViewBag.DetalleJuego.Informacion</h4>
    </div>
<a href ='@Url.Action("AgregarFavorito","Home",new {IdJuego=@ViewBag.DetalleJuego.IdJuego})'><img src="/botones/AGREGARFAVORITO.png"></a>
